.fintecture-admin-section .config-heading, 
.fintecture-admin-section .heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fintecture-admin-section .config-heading {
    justify-content: space-between;
}

.fintecture-admin-section .heading {
    justify-content: center;
}

.fintecture-admin-section .config-heading img {
    width: 100px;
    align-self: center;
}

.fintecture-admin-section .admin__collapsible-block .comment {
    display: none;
}

.fintecture-admin-section #connect-message {
    margin-top: 10px;
}

.fintecture-admin-section #connect-message .error {
    color: #FF0000;
}

.fintecture-admin-section #connect-message .success {
    color: #00FF12;
}