<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Fintecture\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Fintecture\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">FintectureLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Fintecture\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Fintecture\Payment\Plugin\CsrfValidatorSkip"/>
    </type>
    <type name="Magento\Quote\Observer\SubmitObserver">
        <plugin name="order_stop_email" type="Fintecture\Payment\Observer\Quote\SubmitObserver" />
    </type>
</config>
