<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="FintectureFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Fintecture\Payment\Gateway\Config\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Fintecture\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">FintectureValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">FintectureCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="FintectureBnplFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Fintecture\Payment\Gateway\Config\BnplConfig::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Fintecture\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">FintectureBnplValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">FintectureCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Fintecture\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Fintecture\Payment\Gateway\Config\Config::CODE</argument>
        </arguments>
    </type>

    <type name="Fintecture\Payment\Gateway\Config\BnplConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Fintecture\Payment\Gateway\Config\BnplConfig::CODE</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="FintectureValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">FintectureConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="FintectureConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Fintecture\Payment\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="FintectureBnplValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">FintectureBnplConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="FintectureBnplConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Fintecture\Payment\Gateway\Config\BnplConfig</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="FintectureCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">FintectureInitializeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize command -->
    <virtualType name="FintectureInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">FintectureInitializationRequest</argument>
            <argument name="transferFactory" xsi:type="object">Fintecture\Payment\Gateway\Http\DummyTransferFactory</argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR!Cannot instantiate interface Magento\Payment\Gateway\Http\TransferFactoryInterface if empty -->
            <argument name="client" xsi:type="object">Fintecture\Payment\Gateway\Http\Client\DummyClient</argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR getting command!Cannot instantiate interface Magento\Payment\Gateway\Http\ClientInterface if empty-->
        </arguments>
    </virtualType>

    <!-- Initialization Request -->
    <virtualType name="FintectureInitializationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Fintecture\Payment\Gateway\Request\InitializationRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Fintecture\Payment\Gateway\Request\InitializationRequest">
        <arguments>
            <argument name="config" xsi:type="object">Fintecture\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Fintecture\Payment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Fintecture\Payment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">FintectureLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Fintecture\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Observer\SubmitObserver">
        <plugin name="order_stop_email" type="Fintecture\Payment\Observer\Quote\SubmitObserver" />
    </type>

    <!-- Refund -->
    <type name="Fintecture\Payment\Plugin\Magento\Sales\Model\Service\CreditmemoService">
        <arguments>
            <argument name="create_refund_action" xsi:type="object">Fintecture\Payment\Model\Fintecture\Action\Refund\CreateRefund</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\CreditmemoManagementInterface">
        <plugin name="allow_pending_refunds" type="Fintecture\Payment\Plugin\Magento\Sales\Model\Service\CreditmemoService"/>
    </type>
</config>
