<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()">
        <label data-bind="attr: {'for': getCode()}" class="label img_label">
            <span data-bind="i18n: 'Pay in 30 days, without fee'"></span>
        </label>
    </div>
    <div data-bind="html: window.checkoutConfig.cms_block"></div>
    <div class="payment-method-content">
        <div class="checkout_block payment-method-content">
            <p class="f-description">
                <span data-bind="i18n: 'You are a professional, buy now and pay in 30 days without any fees on the transaction.'"></span>
            </p>
            
            <div id="bnpl-box">
                <div class="bnpl-head">
                    <span data-bind="i18n: 'Debit '"></span>
                    <span data-bind="i18n: 'Amount'"></span>
                </div>
                <div class="bnpl-body">
                    <div>
                        <b><span data-bind="i18n: 'Today'"></span></b><br>
                        <span data-bind="text: getTodayDate()"></span>
                    </div>
                    <span data-bind="text: getZero() + '*'"></span>
                </div>
                <div class="bnpl-body">
                    <div>
                        <b><span data-bind="i18n: 'In 30 days'"></span></b><br>
                        <span data-bind="text: getLaterDate()"></span>
                    </div>
                    <span data-bind="text: getGrandTotal()"></span>
                </div>
            </div>
            <span data-bind="i18n: '*subject to eligibility'"></span>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit"
                    data-bind="click: placeOrder, enable: (getCode() == isChecked())" disabled>
                    <span data-bind="i18n: 'Pay in 30 days, without fee'"></span>
                </button>
            </div>
        </div>
    </div>
</div>