<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="fintecture" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Immediate Transfer</label>
                <comment><![CDATA[Pay instantly and securely directly from your bank account.<br>Collect payments without any credit limit. Reduce your transaction fees by 40%!]]></comment>
                <fieldset_css>fintecture-admin-section</fieldset_css>
                <frontend_model>Fintecture\Payment\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>

                <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Settings</label>

                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/fintecture/active</config_path>
                    </field>

                    <field id="title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/fintecture/title</config_path>
                    </field>

                    <field id="environment" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>Fintecture\Payment\Model\Environment</source_model>
                        <config_path>payment/fintecture/environment</config_path>
                    </field>

                    <field id="bank_type" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Bank type</label>
                        <source_model>Fintecture\Payment\Model\BankType</source_model>
                        <comment>Filter the bank type</comment>
                    </field>

                    <!-- SANDBOX START -->
                    <field id="fintecture_app_id_sandbox" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fintecture APP ID</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <validate>required-entry</validate>
                        <comment>Sandbox</comment>
                        <config_path>payment/fintecture/fintecture_app_id_sandbox</config_path>
                    </field>

                    <field id="fintecture_app_secret_sandbox" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fintecture APP secret</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <comment>Sandbox</comment>
                        <validate>required-entry</validate>
                        <config_path>payment/fintecture/fintecture_app_secret_sandbox</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>

                    <field id="custom_file_upload_sandbox" translate="label" type="Fintecture\Payment\Model\Config\File\PemFile" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fintecture Private Key</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <config_path>payment/fintecture/custom_file_upload_sandbox</config_path>
                        <backend_model>Fintecture\Payment\Model\Config\File\PrivateKeyPem</backend_model>
                        <upload_dir config="system" scope_info="1">lib/app_private_key_sandbox</upload_dir>
                    </field>
                    <!-- SANDBOX END -->

                    <!-- PRODUCTION START -->
                    <field id="fintecture_app_id_production" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fintecture APP ID</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <comment>Production</comment>
                        <validate>required-entry</validate>
                        <config_path>payment/fintecture/fintecture_app_id_production</config_path>
                    </field>

                    <field id="fintecture_app_secret_production" translate="label comment" type="obscure" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fintecture APP secret</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <comment>Production</comment>
                        <validate>required-entry</validate>
                        <config_path>payment/fintecture/fintecture_app_secret_production</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>

                    <field id="custom_file_upload_production" translate="label" type="Fintecture\Payment\Model\Config\File\PemFile" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fintecture private key</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <config_path>payment/fintecture/custom_file_upload_production</config_path>
                        <backend_model>Fintecture\Payment\Model\Config\File\PrivateKeyPem</backend_model>
                        <upload_dir config="system" scope_info="1">lib/app_private_key_production</upload_dir>
                    </field>

                    <field id="button_id" translate="label" type="button" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Fintecture\Payment\Block\System\Config\Button</frontend_model>
                    </field>
                    <!-- PRODUCTION END -->
                </group>

                <!-- Start payment options -->
                <group id="payment_options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment options</label>

                    <field id="sort_order" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/fintecture/sort_order</config_path>
                    </field>

                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment from applicable countries</label>
                        <config_path>payment/fintecture/allowspecific</config_path>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>

                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from specific countries</label>
                        <config_path>payment/fintecture/specificcountry</config_path>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                </group>
                <!-- End payment options -->

                <!-- Start design options -->
                <group id="design_options" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Design options</label>

                    <field id="checkout_design_selection" translate="label comment" type="radios" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout design</label>
                        <comment>Please select the message you want to display on your checkout page, depending on the payment solutions you have.</comment>
                        <source_model>Fintecture\Payment\Model\Config\Options\CheckoutDesignSelectionOptions</source_model>
                        <config_path>payment/fintecture/checkout_design_selection</config_path>
                    </field>

                    <field id="recommend_it_badge" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>"Recommended" badge</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Recommend the payment method on checkout page</comment>
                        <config_path>payment/fintecture/recommend_it_badge</config_path>
                    </field>
                    
                    <field id="first_position_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>First position depending of cart amount</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/fintecture/first_position_active</config_path>
                    </field>

                    <field id="first_position_amount" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimal cart amount to place Fintecture in first position (in €)</label>
                        <config_path>payment/fintecture/first_position_amount</config_path>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                </group>
                <!-- End design options -->
                
                <!-- Start advanced options -->
                <group id="fintecture_advanced" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced settings</label>
                    <field id="version" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Fintecture\Payment\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                    </field>

                    <group id="fintecture_advanced_invoicing" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Invoicing</label>
                        
                        <field id="invoicing_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable invoice generation for paid orders</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/fintecture/invoicing_active</config_path>
                        </field>
                    </group>

                    <group id="fintecture_advanced_smart_transfer" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Smart Transfer</label>

                        <field id="custom_reconciliation_field_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable custom field for the reconciliation</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/fintecture/custom_reconciliation_field_active</config_path>
                        </field>
                        
                        <field id="custom_reconciliation_field" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Custom field for the reconciliation</label>
                            <source_model>Fintecture\Payment\Model\CustomReconciliationField</source_model>
                            <config_path>payment/fintecture/custom_reconciliation_field</config_path>
                        </field>
                    </group>

                    <group id="fintecture_advanced_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment status mapping between Fintecture and Magento</label>
                        
                        <field id="new_order_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>New order status</label>
                            <source_model>Fintecture\Payment\Model\StatusMapping</source_model>
                            <config_path>payment/fintecture/new_order_status</config_path>
                        </field>

                        <field id="payment_created_status" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Accepted payment</label>
                            <source_model>Fintecture\Payment\Model\StatusMapping</source_model>
                            <config_path>payment/fintecture/payment_created_status</config_path>
                        </field>

                        <field id="payment_pending_status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Pending payment</label>
                            <source_model>Fintecture\Payment\Model\StatusMapping</source_model>
                            <config_path>payment/fintecture/payment_pending_status</config_path>
                        </field>

                        <field id="payment_overpaid_status" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Overpaid payment</label>
                            <source_model>Fintecture\Payment\Model\StatusMapping</source_model>
                            <config_path>payment/fintecture/payment_overpaid_status</config_path>
                        </field>

                        <field id="payment_partial_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Partial payment</label>
                            <source_model>Fintecture\Payment\Model\StatusMapping</source_model>
                            <config_path>payment/fintecture/payment_partial_status</config_path>
                        </field>

                        <field id="payment_failed_status" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Failed payment</label>
                            <source_model>Fintecture\Payment\Model\StatusMapping</source_model>
                            <config_path>payment/fintecture/payment_failed_status</config_path>
                        </field>
                    </group>

                    <group id="fintecture_advanced_expiration" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Automatic expiration of pending orders</label>
                        
                        <field id="expiration_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable automatic expiration of pending orders</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/fintecture/expiration_active</config_path>
                        </field>
    
                        <field id="expiration_after" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Automatic expiration of pending orders after</label>
                            <comment>In minutes. Minimum value: 3</comment>
                            <config_path>payment/fintecture/expiration_after</config_path>
                            <validate>validate-number validate-greater-than-zero validate-number-range number-range-3-9999</validate>
                        </field>
                    </group>

                    <group id="fintecture_advanced_loginas" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Alternative payment methods for 'Login as Customer' feature</label>
                        
                        <field id="alternative_method_active" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable alternative payment methods for 'Login as Customer' feature</label>
                            <comment>Not available in all Magento versions. Check the GitHub page of our Magento plugin for conditions.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/fintecture/alternative_method_active</config_path>
                        </field>

                        <field id="alternative_method" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Choose the alternative payment method for 'Login as Customer' feature</label>
                            <source_model>Fintecture\Payment\Model\AlternativeMethod</source_model>
                            <config_path>payment/fintecture/alternative_method</config_path>
                        </field>
                    </group>
                </group>
                <!-- End advanced options -->
            </group>
            
            <group id="fintecture_bnpl" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Buy Now Pay Later</label>
                <comment><![CDATA[Allow your professional buyers to buy now and pay later directly from your check-out. An innovative solution made for B2B merchants looking to boost their sales.]]></comment>
                <fieldset_css>fintecture-admin-section</fieldset_css>
                <frontend_model>Fintecture\Payment\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>

                <group id="general_bnpl" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Settings</label>

                    <field id="active" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <comment>If you activate this feature without having the option on your Fintecture account, your users will see an error on the payment page.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/fintecture_bnpl/active</config_path>
                    </field>
                </group>

                 <!-- Start payment options -->
                <group id="payment_options_bnpl" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment options</label>

                    <field id="sort_order" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/fintecture_bnpl/sort_order</config_path>
                    </field>
                </group>
                <!-- End payment options -->

                <!-- Start Design Options -->
                <group id="design_options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Design options</label>

                    <field id="recommend_bnpl_badge" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>"Recommended" badge</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Recommend the payment method on checkout page</comment>
                        <config_path>payment/fintecture_bnpl/recommend_bnpl_badge</config_path>
                    </field>
                </group>
                <!-- End Design Options -->

                <!-- Start Advanced Options -->
                <group id="advanced_bnpl" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced settings</label>
                    <field id="version" type="text" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Fintecture\Payment\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                    </field>

                    <group id="advanced_mapping_bnpl" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment status mapping between Fintecture and Magento</label>
                        
                        <field id="order_created_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Order created status</label>
                            <source_model>Fintecture\Payment\Model\StatusMapping</source_model>
                            <config_path>payment/fintecture/order_created_status</config_path>
                        </field>
                    </group>
                </group>
                <!-- End advanced options -->
            </group>
        </section>
    </system>
</config>